@media screen and (min-width: 40em) {
    body{
        background: rgb(255, 255, 255);
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        text-align: justify;
        
        font-size: 24px;
        float: center;
        padding-top: 100px;
        padding-bottom: 100px;
        
        margin: 0 auto;
        width: 80%;

        color: #000000;
    }

    .seccion_estandar{
        width: 90%;
        margin: 0 auto;
    }
    .seccion_estandar_uno{
        width: 90%;
        height: 150px;
        margin: 0 auto;
    }

    p.sobretitulo_gris{
        font-weight: bold;
        color: #646363;
    }

    h1.titulo_grande{
        font-size: 44px;
        font-weight: bold;
    }

    #puntos{
        font-size: 28px;
        font-weight: bold;
    }

    .seccion_estandar_dos{
        width: 90%;
        height: 300px;
        margin-top: 70px;
    }

    .pri_fi_dos{
        width: 450px;
        height:300px;
        float: center;
        margin: 0 auto;
    }

    img.centrada{
        width: 450px;
        height: 300px;
        float: center;
    }

    .seccion_estandar_tres{
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }
}

@media screen and (max-width: 60em){
    body{
        background: rgb(255, 255, 255);
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        text-align: justify;
        
        font-size: 16px;
        float: center;
        padding-top: 60px;
        padding-bottom: 60px;

        margin: 0 auto;
        width: 80%;
        
        color: #000000;
    }
    
    .seccion_estandar{
        width: 90%;
        margin: 0 auto;
    }
    
    .seccion_estandar_uno{
        width: 90%;
        height: 90px;
        margin: 0 auto;
    }
    
    p.sobretitulo_gris{
        font-weight: bold;
        color: #646363;
    }
    
    h1.titulo_grande{
        font-size: 28px;
        font-weight: bold;
    }
    
    #puntos{
        font-size: 20px;
        font-weight: bold;
    }

    .seccion_estandar_dos{
        width: 90%;
        height: 250px;
        margin-top: 50px;
    }

    .pri_fi_dos{
        width: 300px;
        height: 250px;
        float: center;
        margin: 0 auto;
    }
    
    img.centrada{
        width: 300px;
        height: 250px;
        float: center;
    }
    
    .seccion_estandar_tres{
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media screen and (max-width: 40em){
    body{
        background: rgb(255, 255, 255);
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        text-align: justify;
        
        font-size: 9.5px;
        float: center;
        padding-top: 35px;
        padding-bottom: 35px;

        margin: 0 auto;
        width: 80%;
        
        color: #000000;
    } 

    .seccion_estandar{
        width: 90%;
        margin: 0 auto;
    }
    
    .seccion_estandar_uno{
        width: 90%;
        height: 60px;
        margin: 0 auto;
    }
    
    p.sobretitulo_gris{
        font-weight: bold;
        color: #646363;
    }
    
    h1.titulo_grande{
        font-size: 17px;
        font-weight: bold;
    }
    #puntos{
        font-size: 12px;
        font-weight: bold;
    }
    
    .seccion_estandar_dos{
        width: 90%;
        height: 100px;
        margin-top: 30px;
    }

    .pri_fi_dos{
        width: 150px;
        height: 100px;
        float: center;
        margin: 0 auto;
    }
    
    img.centrada{
        width: 150px;
        height: 100px;
        float: center;
    }
    
    .seccion_estandar_tres{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }


}