<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Canary Dreams</title>
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <body>

        <section class="seccion_estandar">
            <section class="seccion_estandar_uno">
                <article>
                    <p class="sobretitulo_gris">Condiciones legales</p>
                    <h1 class="titulo_grande">Privacidad en Canary Dreams</h1>
                </article>
            </section>
            
            <section class="seccion_estandar_dos">
                <figure class="pri_fi_dos">
                    <img class="centrada" src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">
                </figure>
            </section>

            <section class="seccion_estandar_tres">
                <article>
                    <h1>Política de Privacidad</h1>
                    <p>Nuestra Política de Privacidad recoge qué datos personales recopilamos, cómo los utilizamos y 
                        los compartimos, así como los derechos en materia de privacidad.</p>
                    
                    <br>
                    <h1>Norteamérica (sin incluir a México)</h1>
                    <ul>
                        <li>Política de Privacidad para Estados Unidos</li>
                        <li>Política de Privacidad para países fuera de Estados Unidos (en inglés)</li>
                        <li>Política de Privacidad para países fuera de Estados Unidos (en francés)</li>
                    </ul>
                    
                    <br>
                    <h1>América Latina (incluidos México, Centroamérica, Sudamérica y el Caribe)</h1>
                    <ul>
                        <li>Política de Privacidad para América Latina (en inglés)</li>
                        <li>Política de Privacidad para América Latina (en español)</li>
                        <li>Política de Privacidad para América Latina (en portugués)</li>
                    </ul>
                    
                    <br>
                    <h1>Europa, Oriente Medio y África</h1>
                    <ul>
                        <li>Política de Privacidad para Europa, Oriente Medio, África y determinados países</li>
                    </ul>
                    
                    <br>
                    <h1>Asia-Pacífico</h1>
                    <ul>
                        <li>Política de Privacidad para Asia-Pacífico (sin incluir a China)</li>
                        <li>Política de Privacidad para China</li>
                        <li>Revisa las políticas de privacidad suplementarias que enlazamos en los documentos de la 
                            Política de Privacidad, como las relativas a los servicios de Canary Dremas que uses y 
                            se te puedan aplicar</li>
                    </ul>
                </article>
            </section>
        </section>
        
    </body>

</html>