/********************ESTO ES ANFITRIÓN PASO 2********************/

body.AP2{
    font-family: Times New Roman, Times, serif; 
    font-style: normal; font-weight: bold; 
    text-align: center; 
    margin: auto;

    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "TituloAP2"
        "formulario" 
        "botones"; 
    
    width: 1000px;
    
}

.formulario {

    margin: auto;
    display: grid; 
    grid-area: formulario;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."
        "."; 
}


.campos {

    width: 400px;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;

}

label {
    margin: auto;
    width: 200px;
    text-align: left;
}

.TituloAP2{
    height: 90px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 28px;
    line-height: 90px;

    margin: auto;
    grid-area: TituloAP2;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}


.botones {

    margin: auto;
    display: grid; 
    grid-area: botones;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    margin: auto;
    width: 1000px;
}




.boton1 {
    width: 200px;
    height: 30px;
    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #FFFFFF;
    margin: auto;
}

.boton2 {
    width: 200px;
    height: 30px;
    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #FFFFFF;
    margin: auto;
    
}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {

    
}
    
/* under 690 px */
@media screen and (max-width: 40em) {
    
}