<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Canary Dreams</title>
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <body>

        <section class="seccion_estandar">

            <article>
                <p class="sobretitulo_gris">Condiciones legales<p>
                <h1 class="titulo_grande">Terminos de servicios</h1>
                <p>Términos de Servicio para Usuarios Europeos<br><br>Como consumidor residente en el EEE, puedes 
                    acceder a la plataforma de resolución de litigios en línea de la Comisión Europea aquí: 
                    <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a> 
                    <br><br>Canary Dreams no se compromete ni tiene la obligación de utilizar una entidad alternativa 
                    de resolución de conflictos para resolver controversias con los consumidores. La plataforma de 
                    resolución de litigios en línea de la Comisión Europea no está disponible para los residentes de 
                    Suiza o del Reino Unido.<br><br>La Sección 24 de los presentes Términos contiene una cláusula de 
                    arbitraje y de renuncia a demandas colectivas que se aplica a todas las demandas presentadas contra 
                    Canary Dreams en Estados Unidos. Te rogamos que la leas detenidamente.<br><br>Los presentes Términos 
                    de Servicio para Usuarios Europeos (en lo sucesivo, los «Términos») constituyen un contrato 
                    legalmente vinculante entre Canary Dreams y tú, por el cual se rige tu derecho de uso de los sitios 
                    web, las aplicaciones y demás ofertas de Canary Dreams (denominados, conjuntamente, «Plataforma 
                    Canary Dreams»). Cuando estos Términos utilizan «Canary Dreams», «nosotros», «nos» o «nuestro», se 
                    refieren a la entidad de Canary Dreams mencionada en el Anexo 1 con quien tú suscribas el contrato.
                    <br><br>La Plataforma Canary Dreams ofrece un espacio en línea que permite a los usuarios (en lo 
                    sucesivo, los «Miembros») publicar, ofrecer, buscar y reservar servicios. Los Miembros que publican 
                    y ofrecen servicios son «Anfitriones» y los Miembros que buscan, reservan o utilizan servicios son 
                    «Huéspedes» (también denominados «Participantes», en el caso de las Experiencias). Los Anfitriones 
                    ofrecen alojamiento (en lo sucesivo, «Alojamiento»), actividades, excursiones y eventos (denominados, 
                    conjuntamente, «Experiencias») y una variedad de servicios de viaje y de otro tipo (denominados, 
                    conjuntamente, «Servicios de Anfitrión», y una oferta de Servicios de Anfitrión, «Anuncio»). Cada 
                    usuario debe crear una cuenta a fin de acceder y disfrutar de las múltiples funciones de la 
                    Plataforma Canary Dreams; asimismo, debe incluir información veraz en su cuenta y mantenerla 
                    actualizada. En calidad de proveedor de la Plataforma Canary Dreams, Canary Dreams no posee, 
                    controla, ofrece ni gestiona ningún Anuncio, ni los Servicios de Anfitrión, ni ningún servicio 
                    turístico. Canary Dreams no es parte en los contratos suscritos directamente entre Anfitriones y 
                    Huéspedes ni constituye un agente inmobiliario, agencia de viajes, asegurador u organizador o 
                    minorista de viajes combinados con arreglo a la Directiva (UE) 2015/2302. Canary Dreams no actúa 
                    como agente en capacidad alguna para ningún Miembro, excepto conforme a lo dispuesto en los Términos 
                    de Pago del Servicio (en lo sucesivo, «Términos de Pago»). Para obtener más información sobre las 
                    funciones de Canary Dreams, consulta la Sección 16.<br><br>Canary Dreams aplica otros términos y 
                    políticas que complementan los presentes Términos, como la Política de Privacidad, que define la 
                    forma en que Canary Dreams recoge y utiliza los datos personales, y los Términos de Pago, que rigen 
                    cualquier servicio de pago prestado a los Miembros por las entidades de pago de Canary Dreams 
                    (colectivamente, «Canary Dreams Payments»).<br><br>El Anfitrión es responsable de entender y cumplir 
                    todas las leyes, normas, reglamentos y contratos con terceros que sean aplicables a sus Servicios de 
                    Anfitrión.<br><br>Gracias por utilizar Canary Dreams.<br><br>Última actualización: 10 de febrero de 
                    2022</p>
            </article>
        </section>

        <!--<include src="./footer.html"></include>-->
    </body>

</html>