
    <body>
        <!--<include src="./header3.html"></include>-->


        <!--Primera Seccion-->
        <section class="isla_sec_pri">

            <h1>{{nombre}}</h1>
        </section>


        <!--Segunda Seccion-->
        <section class="isla_sec_seg">
            <article class="isla_art_seg">
                <div [innerHTML] = "texto1"></div>
            </article>
        </section>


        <!--Tercera Seccion-->
        <section class="isla_sec_ter">
            <div class="isla_div_ter">
                <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
                <div class = "isla_recuadro_ter">

                    <div class= FondoValApartAB>
                        <p class= ValApartAB> 9.8 </p>
                    </div>

                    <p class= NombreApartAB> Nombre Apartamento </p>
                    <p class= DirApartAB> Dirección Apartamento </p>

                    <div class= derechaPrecioAB>
                        <p class= PrecioApartAB> 999,99€ </p>
                    </div>
                </div>
            </div>

            <div class="isla_div_ter">
                <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
                <div class = "isla_recuadro_ter">

                    <div class= FondoValApartAB>
                        <p class= ValApartAB> 9.8 </p>
                    </div>

                    <p class= NombreApartAB> Nombre Apartamento </p>
                    <p class= DirApartAB> Dirección Apartamento </p>

                    <div class= derechaPrecioAB>
                        <p class= PrecioApartAB> 999,99€ </p>
                    </div>
                </div>
            </div>

            <div class="isla_div_ter">
                <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
                <div class = "isla_recuadro_ter">

                    <div class= FondoValApartAB>
                        <p class= ValApartAB> 9.8 </p>
                    </div>

                    <p class= NombreApartAB> Nombre Apartamento </p>
                    <p class= DirApartAB> Dirección Apartamento </p>

                    <div class= derechaPrecioAB>
                        <p class= PrecioApartAB> 999,99€ </p>
                    </div>
                </div>
            </div>

            <div class="isla_div_ter">
                <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
                <div class = "isla_recuadro_ter">

                    <div class= FondoValApartAB>
                        <p class= ValApartAB> 9.8 </p>
                    </div>

                    <p class= NombreApartAB> Nombre Apartamento </p>
                    <p class= DirApartAB> Dirección Apartamento </p>

                    <div class= derechaPrecioAB>
                        <p class= PrecioApartAB> 999,99€ </p>
                    </div>
                </div>
            </div>

            <div class="isla_div_ter">
                <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
                <div class = "isla_recuadro_ter">

                    <div class= FondoValApartAB>
                        <p class= ValApartAB> 9.8 </p>
                    </div>

                    <p class= NombreApartAB> Nombre Apartamento </p>
                    <p class= DirApartAB> Dirección Apartamento </p>

                    <div class= derechaPrecioAB>
                        <p class= PrecioApartAB> 999,99€ </p>
                    </div>
                </div>
            </div>

            <div class="isla_div_ter">
                <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
                <div class = "isla_recuadro_ter">

                    <div class= FondoValApartAB>
                        <p class= ValApartAB> 9.8 </p>
                    </div>

                    <p class= NombreApartAB> Nombre Apartamento </p>
                    <p class= DirApartAB> Dirección Apartamento </p>

                    <div class= derechaPrecioAB>
                        <p class= PrecioApartAB> 999,99€ </p>
                    </div>
                </div>
            </div>

        </section>


        <!--Cuarta Seccion-->
        <section class="isla_sec_cua">
            <section id="isla_sec_cua_text">
                <article class="isla_art_cua">
                    <div [innerHTML] = "texto2"></div>
                </article>
            </section>

            <section class="isla_sec_cua_img">
                <figure class="isla_fi_cua">
                    <img class="isla_img_cua" src={{imagen1}}>
                </figure>
            </section>
        </section>


        <!--Quinta Seccion-->
        <section class="isla_sec_qui">
            <section class="isla_sec_qui_img">
                <figure class="isla_fi_qui">
                    <img class="isla_img_qui" src={{imagen2}}>
                </figure>                
            </section>
                
            <section class="isla_sec_qui_tex">
                <article>
                    <div [innerHTML] = "texto3"></div>
                </article>
            </section>
        </section>


        <!--Sexta Seccion-->
        <section class="isla_sec_sex"></section>


        <!--Septima Seccion-->
        <section class="isla_sec_sep">
            <section>
                <article class="isla_art_sep">
                    <div [innerHTML] = "texto4"></div>
                </article>
            </section>
            
            <section class="isla_sec_sep_img">
                <figure class="isla_fi_sep">
                    <img class="isla_img_sep" src={{imagen3}}/>
                </figure>            
            </section>
        </section>


        <!--Octava Seccion-->
        <section class="isla_sec_oct">
            <section class="isla_sec_oct_img">
                <figure class="isla_fi_oct">
                    <img class="isla_img_oct" src={{imagen4}} />
                </figure>
            </section>
    
            <section>
                <article class="isla_art_oct">
                    <div [innerHTML] = "texto5"></div>
                </article>
            </section>
        </section>


        <!--<include src="./footer.html"></include>-->
    </body>
