body{
    background: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-align: justify;
    
    font-size: 24px;
    float: center;
    padding-top: 100;
    padding-bottom: 100;
    
    color: #000000;
}

/***Primera Seccion***/
.isla_sec_pri{
    width: 100%;
    height: 600px;
    margin: auto;
    

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

/***Segunda Seccion***/
.isla_sec_seg{
    width: 1144px;
    height: auto;
    margin: 0 auto;
    margin-top: 100;
    
}

.isla_art_seg{
    width: 900;
    margin-left: auto;
    margin-right: auto;
    
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

/***Tercera Seccion***/
.isla_sec_ter{
    width: 1144px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "." ".";
}

.isla_div_ter {
    width: 368.82px;
    height: 237px;

    border:  2.731px solid #787878;
    box-sizing: border-box;
    border-radius: 9.9718px;

    color: #685D5D;
}

.FotoCuadroApartAB {
    width: 366.088px;
    height: 170px;
    border-radius: 8.2px 8.2px 0px 0px;
    margin: auto;
    margin-left: -1px;
    margin-top: -1px;
}

.isla_recuadro_ter{
    width: 367.454px;
    height: 65.568px;
    margin-left: -1px;
}

.FondoValApartAB{
    float: right;
    width: auto;
    height: 27.67px;
    margin-top: 5px;
    margin-right: 5px;
    background: #2A2867;
}

.ValApartAB {
    font-size:20px;
    color: #ffffff;
    margin:auto;
}

.NombreApartAB{
    float: left;
    font-size:22px;
    margin-top: 0;
}

.DirApartAB{
    float: left;
    font-size:20px;
    font-weight: normal;
    margin-top: -12.5px;
}

.DesdeApartAB{
    float:right;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: -8px;
    margin-right: 8px;
    color: #685D5D;
}

.PrecioApartAB{
    float:right;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-right: 8px;
    margin-top: -8px;
    
    color: #2D2B2B;
}

/***Cuarta Seccion***/
.isla_sec_cua{
    width: 1144px;
    height: 380;
    margin: 0 auto;
    margin-top: 100;
}

.isla_art_cua{
    width: 380px;
    height: auto;
    line-height: 30px;
    text-align: left;
    float: right;
    margin-top: 40;
    margin-left: 10;
}

.isla_sec_cua_img,.isla_img_cua{
    width: 730px;
    height: 300px;
    float: left;
}

.isla_fi_cua{
    width: 730px;
    height: 300px;
    float: left;
    margin: 0 auto;
}

/***Quinta Seccion***/
.isla_sec_qui{
    width: 1144px;
    height: 500;
    margin: 0 auto;
    margin-top: 100;
}

.isla_sec_qui_img,.isla_img_qui{
    width: 420px;
    height: 500px;
    float: left;
}

.isla_fi_qui{
    width: 420px;
    height: 500px;
    float: left;
    margin: 0 auto;
}

.isla_sec_qui_tex{
    width: 690px;
    height: 500;
    float: right;
}

/***Sexta Seccion***/
.isla_sec_sex{
    width: 100%;
    height: 600px;
    margin: auto;
    margin-top: 100;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

/***Septima Seccion***/
.isla_sec_sep{
    width: 1144px;
    height: 700px;
    margin: 0 auto;
    margin-top: 100;
}

.isla_art_sep{
    width: 550px;
    height: 700;
    float: left;
}

.isla_sec_sep_img,.isla_img_sep{
    width: 560px;
    height: 700px;
    float: right;
}

.isla_fi_sep{
    width: 560px;
    height: 650px;
    float: left;
    margin: 0 auto;
}

/***Octava Seccion***/
.isla_sec_oct{
    width: 1144px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100;
}

.isla_sec_oct_img,.isla_img_oct{
    width: 550px;
    height: 350px;
    float: left;
}

.isla_fi_oct{
    width: 550px;
    height: 350px;
    float: left;
    margin: 0 auto;
}

.isla_art_oct{
    width: 550px;
    height: auto;
    float: right;
    padding-top: 50;
}