<body>
    
    <!--Primera Seccion-->
    <section class="isla_sec_pri"></section>


    <!--Segunda Seccion-->
    <section class="isla_sec_seg">
        <article class="isla_art_seg">
            <p>Pequeña, tranquila, sin asfalto ni contaminación, naturaleza virgen, playas paradisiacas 
                de aguas turquesas y arena blanca, paisajes austeros, apenas habitada… Sí, aunque sea 
                difícil de creer, un lugar así existe a pocas horas de cualquier ciudad de Europa.</p>
        </article>
    </section>


    <!--Tercera Seccion-->
    <section class="isla_sec_ter">
        <div class="isla_div_ter">
            <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
            <div class = "isla_recuadro_ter">

                <div class= FondoValApartAB>
                    <p class= ValApartAB> 9.8 </p>
                </div>

                <p class= NombreApartAB> Nombre Apartamento </p>
                <p class= DirApartAB> Dirección Apartamento </p>

                <div class= derechaPrecioAB>
                    <p class= PrecioApartAB> 999,99€ </p>
                    <p class= DesdeApartAB> Desde </p>
                </div>
            </div>
        </div>

        <div class="isla_div_ter">
            <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
            <div class = "isla_recuadro_ter">

                <div class= FondoValApartAB>
                    <p class= ValApartAB> 9.8 </p>
                </div>

                <p class= NombreApartAB> Nombre Apartamento </p>
                <p class= DirApartAB> Dirección Apartamento </p>

                <div class= derechaPrecioAB>
                    <p class= PrecioApartAB> 999,99€ </p>
                    <p class= DesdeApartAB> Desde </p>
                </div>
            </div>
        </div>

        <div class="isla_div_ter">
            <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
            <div class = "isla_recuadro_ter">

                <div class= FondoValApartAB>
                    <p class= ValApartAB> 9.8 </p>
                </div>

                <p class= NombreApartAB> Nombre Apartamento </p>
                <p class= DirApartAB> Dirección Apartamento </p>

                <div class= derechaPrecioAB>
                    <p class= PrecioApartAB> 999,99€ </p>
                    <p class= DesdeApartAB> Desde </p>
                </div>
            </div>
        </div>

        <div class="isla_div_ter">
            <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
            <div class = "isla_recuadro_ter">

                <div class= FondoValApartAB>
                    <p class= ValApartAB> 9.8 </p>
                </div>

                <p class= NombreApartAB> Nombre Apartamento </p>
                <p class= DirApartAB> Dirección Apartamento </p>

                <div class= derechaPrecioAB>
                    <p class= PrecioApartAB> 999,99€ </p>
                    <p class= DesdeApartAB> Desde </p>
                </div>
            </div>
        </div>

        <div class="isla_div_ter">
            <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
            <div class = "isla_recuadro_ter">

                <div class= FondoValApartAB>
                    <p class= ValApartAB> 9.8 </p>
                </div>

                <p class= NombreApartAB> Nombre Apartamento </p>
                <p class= DirApartAB> Dirección Apartamento </p>

                <div class= derechaPrecioAB>
                    <p class= PrecioApartAB> 999,99€ </p>
                    <p class= DesdeApartAB> Desde </p>
                </div>
            </div>
        </div>

        <div class="isla_div_ter">
            <img class= FotoCuadroApartAB src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg">      
            <div class = "isla_recuadro_ter">

                <div class= FondoValApartAB>
                    <p class= ValApartAB> 9.8 </p>
                </div>

                <p class= NombreApartAB> Nombre Apartamento </p>
                <p class= DirApartAB> Dirección Apartamento </p>

                <div class= derechaPrecioAB>
                    <p class= PrecioApartAB> 999,99€ </p>
                    <p class= DesdeApartAB> Desde </p>
                </div>
            </div>
        </div>

    </section>


    <!--Cuarta Seccion-->
    <section class="isla_sec_cua">
        <section id="isla_sec_cua_text">
            <article class="isla_art_cua">
                <p>La Graciosa, con la totalidad de su territorio protegido, forma parte también del 
                    Geoparque Lanzarote y Archipiélago Chinijo, el segundo de los declarados en las 
                    Islas Canarias.</p>
            </article>
        </section>

        <section class="isla_sec_cua_img">
            <figure class="isla_fi_cua">
                <img class="isla_img_cua" src="../assets/lagraciosa(2).png">
            </figure>
        </section>
    </section>


    <!--Quinta Seccion-->
    <section class="isla_sec_qui">
        <section class="isla_sec_qui_img">
            <figure class="isla_fi_qui">
                <img class="isla_img_qui" src="https://www.holaislascanarias.com/sites/default/files/styles/masonry_image/public/block-images/2020-09/La-Graciosa-Playa-La-Francesa-01.jpg?itok=lXpF0e07">
            </figure>                
        </section>
            
        <section class="isla_sec_qui_tex">
            <article>
                <h1 class="titulo_estandar">Playas vírgenes de aguas turquesas</h1>
                <p>Las playas vírgenes y solitarias, de arenas blancas y aguas turquesas, son el 
                    principal atractivo de La Graciosa. Sorprende que, siendo una isla tan pequeña, 
                    sea posible disfrutar de una playa distinta cada día de nuestra estancia.<br><br>
                    Podemos elegir entre las que son algo más frecuentadas -dependiendo de la época 
                    del año- y otras donde encontraremos la más absoluta soledad; también las hay de 
                    aguas tranquilas, ideales para practicar snorkel, o de oleaje y corrientes en las 
                    que debemos tener mayor precaución; las hay arena blanca, dorada y de roca volcánica, 
                    creando unos contrastes de tonalidades allí donde se mezclan que parecen irreales.</p>
            </article>
        </section>
    </section>


    <!--Sexta Seccion-->
    <section class="isla_sec_sex"></section>


    <!--Septima Seccion-->
    <section class="isla_sec_sep">
        <section>
            <article class="isla_art_sep">
                <h1>Rutas a pie</h1>
                <p>En la isla existen varios senderos que recorren gran parte de un territorio dominado 
                    por austeros paisajes volcánicos en los que no encontraremos árboles ni sombras donde 
                    resguardarnos del sol. Al igual que ocurre con los ciclistas, los senderistas también 
                    deben evitar salir de los caminos señalizados para no dañar este frágil y valioso 
                    ecosistema, en el que viven especies endémicas que no se encuentran en ningún otro 
                    lugar del planeta.<br><br>Las cuatro principales rutas de senderismo nos llevan a las 
                    playas paradisiacas y otros lugares interesantes de la isla que seguro a nadie dejarán 
                    indiferentes. Pasear tranquilamente por estas veredas mientras disfrutamos de un hermoso 
                    atardecer es una experiencia inolvidable.<br><br>Un territorio dominado por austeros 
                    paisajes volcánicos en los que no encontraremos árboles ni sombras donde resguardarnos 
                    del sol.</p>
            </article>
        </section>
        
        <section class="isla_sec_sep_img">
            <figure class="isla_fi_sep">
                <img class="isla_img_sep" src="https://www.holaislascanarias.com/sites/default/files/styles/image_paragraph_desktop/public/block-images/2020-09/La-Graciosa-El-Salao.jpg?itok=eWU65jV9" />
            </figure>            
        </section>
    </section>


    <!--Octava Seccion-->
    <section class="isla_sec_oct">
        <section class="isla_sec_oct_img">
            <figure class="isla_fi_oct">
                <img class="isla_img_oct" src="https://www.holaislascanarias.com/sites/default/files/styles/image_paragraph_desktop/public/block-images/2020-09/La-Graciosa-Lapas-en-La-Graciosa.jpg?itok=i3Oh067Q" />
            </figure>
        </section>

        <section>
            <article class="isla_art_oct">
                <h1>No te vayas sin probar…</h1>
                <p>El pescado fresco es la especialidad de esta pequeña isla del Atlántico, acompañado 
                    de otros productos de la gastronomía canaria como las papas arrugadas y el mojo, 
                    una salsa ligeramente picante típica de las Islas Canarias.</p>
            </article>
        </section>
    </section>


    <!--<include src="./footer.html"></include>-->
</body>