<div class="container">
            
    <app-menu></app-menu>

    <section class="data">
        
        <img class = "imagen" src="" alt="d">

        <form class="personalData">

                <div class="campos">
                    <label for="">Nombre</label>
                    <input type="text" class="camposRegistrarse" formControlName = "nombre">
                </div>

                <div class="campos">
                    <label for="">Apellidos</label>
                    <input type="text" class="camposRegistrarse" formControlName = "apellidos">
                </div>


                <div class="campos">
                    <label for="">DNI</label>
                    <input type="text" class="camposRegistrarse" formControlName = "dni" readonly>
                </div>
                
                <div class="campos">
                    <label for="">Teléfono</label>
                    <input type="text" class="camposRegistrarse" formControlName = "telefono">
                </div>

                <div class="campos">
                    <label for="">Fecha de Nacimiento</label>
                    <label for=""></label>
                    <input type="text" class="camposRegistrarse" formControlName = "fecha" readonly>
                </div>

                <div class="campos">
                    <label for="">Sexo</label>
                    <input type="text" class="camposRegistrarse" formControlName = "sexo" readonly>
                </div>

                <div class="campos">
                    <label for="">Correo</label>
                    <input type="text" class="camposRegistrarse" formControlName = "correo" readonly>
                </div>
        </form>


    </section>
    

</div>
