<body class = AP3>  

    <!--Titulo-->
    <p class = TituloAP3> CUÉNTANOS UN POCO ACERCA DE LOS ESPACIOS DISPONIBLES </p>


    <form action="" [formGroup]="formulario" class="formulario">

        <div class="inputs">
            <label for="huespedes" class="etiquetas">Huéspedes</label>
            <input type="number" id="huespedes" class="campos" min="1" formControlName="huespedes">
        </div>
        
        <div class="inputs">
            <label for="camas" class="etiquetas">Camas</label>
            <input type="number" id="camas" class="campos" min="1"  formControlName="camas">
        </div>
        
        <div class="inputs">
            <label for="baños" class="etiquetas">Baños</label>
            <input type="number" id="baños" class="campos" min="1"  formControlName="baños">
        </div>
        
        <div class="inputs">
            <label for="dormitorios" class="etiquetas">Dormitorios</label>
            <input type="number" id="dormitorios" class="campos" min="1"  formControlName="dormitorios">
        </div>

    </form>

    <div class="botones">
        <!--Boton 1-->
        <input class = boton1 type="submit" value = "Atrás" (click)="volverAtras()">

        <!--Boton 2-->
        <input class = boton2 type="submit" value = "Siguiente" (click)="guardarInformacion()">
    </div>

    
    
</body>
