
body.AP3{

    font-family: Times New Roman, Times, serif; 
    font-style: normal; font-weight: bold; 
    text-align: center; 
    margin: auto;
    
    width: 920px;
    overflow: hidden;

}


.formulario {
    border: black 1px solid;
    width: 700px;
    margin: auto;
    display: grid; 
    grid-area: formulario;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."; 
    margin-bottom: 40px;
}



.inputs {

    width: 750px;
    height: 20px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.etiquetas {
    margin: auto;
    width: 200px;
    text-align: left;
    margin-left: 80px;
    float: left;

}


.campos {
    width: 350px;
    height: 20px;
    margin-right: 120px;
    margin-top: -22px;
    margin-bottom: 10px;
    float: right;
}



.TituloAP3{
    height: 90px;
    width: 900px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 28px;
    line-height: 90px;

    margin: auto;
    grid-area: TituloAP2;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}


.botones {
    margin: auto;
    margin: auto;
    width: 850px;
    height: 30px;

}

.boton1 {
    width: 200px;
    height: 30px;
    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #FFFFFF;
    float: left;
}

.boton2 {
    width: 200px;
    height: 30px;
    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #FFFFFF;
    float: right;
    
}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    body.AP3{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center; 
        margin: auto;
        
        width: 640px;
        overflow: hidden;
        
    }
    
    .formulario {
        margin-top: -150px;
        border: black 1px solid;
        width: 500px;
        margin: auto;
        display: grid; 
        grid-area: formulario;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "."
            "."; 
        margin-bottom: 40px;
    }
    
    
    .inputs {
        width: 480px;
        height: 20px;
        margin-right: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    
    }

    .campos {
        width: 250px;
        height: 20px;
        margin-right: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .etiquetas {
        margin: auto;
        width: 100px;
        text-align: left;
        margin-left: 20px;
    }
    
    .TituloAP3{
        height: 130px;
        width: 620px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 30px;
    
        margin: auto;
        margin-bottom:-50px;
        grid-area: TituloAP2;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    
    .botones {
    
        margin: auto;
        margin: auto;
        width: 540px;
        height: 30px;
        
    }
    
    
    
    
    .boton1 {
        width: 150px;
        height: 25px;
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
        font-family: Roboto Condensed;
        font-size: 20px;
        color: #FFFFFF;
        float: left;
    }
    
    .boton2 {
        width: 150px;
        height: 25px;
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
        font-family: Roboto Condensed;
        font-size: 20px;
        color: #FFFFFF;
        float: right;
        
    }
    
}
    
/* under 690 px */
@media screen and (max-width: 40em) {
    body.AP3{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center; 
        margin: auto;
        
        width: 300px;
        overflow: hidden;
        
    }
    
    .formulario {
        margin-top: -150px;
        border: black 1px solid;
        width: 290px;
        margin: auto;
        display: grid; 
        grid-area: formulario;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "."
            "."; 
        margin-bottom: 40px;
    }

    .campos {
        width: 150px;
        height: 20px;
        margin-right: 120px;
        margin-top: -5px;
        margin-bottom: 10px;
    }
    
    
    .inputs {
    
        width: 400px;
        height: 20px;
        margin-right: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    
    }
    
    .etiquetas {
        margin: auto;
        width: 20px;
        text-align: left;
        margin-left: 20px;
        font-size: 13px;
    }
    
    .TituloAP3{
        height: 100px;
        width: 260px;        
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 12px;
        line-height: 30px;
    
        margin: auto;
        margin-top:0px;
        grid-area: TituloAP2;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    
    .botones {
    
        margin: auto;
        margin: auto;
        width: 300px;
        height: 30px;
        
    }
    
    
    
    
    .boton1 {
        width: 100px;
        height: 20px;
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
        font-family: Roboto Condensed;
        font-size: 17px;
        color: #FFFFFF;
        float: left;
        line-height: 10px;
    }
    
    .boton2 {
        width: 100px;
        height: 20px;
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
        font-family: Roboto Condensed;
        font-size: 17px;
        color: #FFFFFF;
        float: right;
        line-height: 10px;
        
    }
}