<body class = AP3>  

    <!--Titulo-->
    <p class = TituloAP3> NÚMERO DE HUÉSPEDES QUE PUEDEN HOSPEDARSE </p>

    <!--Imagen-->
    <div class = imagenAP3>
        <p class = texto1AP3> Huéspedes </p>

        <div class = sumarAP3>

            <div class = Img1AP3>  </div>
            <p class = num1AP3> 1 </p>
            <div class = Img2AP3>  </div>

        </div>

        <p class = texto2AP3> Camas </p>

        <div class = sumarAP3>

            <div class = Img1AP3>  </div>
            <p class = num1AP3> 1 </p>
            <div class = Img2AP3>  </div>

        </div>

        <p class = texto3AP3> Dormitorios </p>

        <div class = sumarAP3>

            <div class = Img1AP3>  </div>
            <p class = num1AP3> 1 </p>
            <div class = Img2AP3>  </div>

        </div>

        <p class = texto4AP3> Baños </p>

        <div class = sumarAP3>

            <div class = Img1AP3>  </div>
            <p class = num1AP3> 1 </p>
            <div class = Img2AP3>  </div>

        </div>
        
    </div>
    
    <div class = lineaAP3>  </div>
    <!--Boton 1-->
    <input class = boton1AP3 type="submit" value = "Atrás">

    <!--Boton 2-->
    <input class = boton2AP3 type="submit" value = "Siguiente">

</body>
