<body class = MJ>

    <section class = recuadroIzq>
        <!--RecuadroIzq-->
        <p class = Texto1RecuadroIzq>INFORMACIÓN PERSONAL</p>
        <hr class = lineaHorizontal1>  
        <p class = Texto2RecuadroIzq>SEGURIDAD</p>
        <hr class = lineaHorizontal2>  
        <p class = Texto3RecuadroIzq>MIS RESERVAS</p>
        <hr class = lineaHorizontal3> 
        <p class = Texto4RecuadroIzq Style = "color: #000000;">GESTIONAR ALOJAMIENTOS</p>
        <hr class = lineaHorizontal4>  
        <p class = Texto5RecuadroIzq>CERRAR SESIÓN</p>
    </section>
    
    <!--Imagen 1-->

    <img class = Imagen1MJ src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt = "">

    <!--Titulo 1-->
    <p class = Titulo1MJ>Mis Alojamientos</p>



    <!--Apartamentos-->
    <section class= ApartamentosMJ>

        <a href = "" class= CuadroApartAB *ngFor="let alojamiento of misAlojamientos">
            <div class= CuadroApartMJ>

                <img class= FotoCuadroApartMJ src="{{alojamiento.imagenes.imagen}}" alt="">
                
                <div class = recuadroDatosMJ>

                    <div class= FondoValApartMJ>

                        <p class= ValApartMJ> 9.8 </p>

                    </div>

                    <p class= NombreApartMJ> {{alojamiento.informacionGeneral.titulo}} </p>

                    <p class= DirApartMJ> {{alojamiento.direccion.ciudad}} </p>

                    <div class= derechaPrecioMJ>

                        <p class= PrecioApartMJ> {{alojamiento.alquiler.precio}} </p>

                        <p class= DesdeApartMJ> Desde </p>

                    </div>

                </div>

                <input class = boton1MJ type = button value = Retirar>

                <input class = boton2MJ type = button value = Gestionar>
            
            </div>
        </a>

    </section>
    
</body>
