<form class = AP5 [formGroup]="archivoForm" (ngSubmit)="subirArchivo()"> 


    <!--Titulo-->
    <p class = TituloAP5> ¡ESTÁS EN LA RECTA FINAL! <br> NECESITAMOS QUE SUBAS ALGUNAS FOTOS DE TU ALOJAMIENTO </p>
    <p class = Titulo2AP5> AÑADE 6 FOTOS COMO MÍNIMO </p>

    <!--RecuadroImagen-->
    <form class = RecuadroImagenAP5 [formGroup]="archivoForm"> 

        <!--TextoRecuadro-->
        <p class = TextoRecuadroAP5> 
            Haz click en el botón de subir 
            <br><br> Has subido {{this.numeroArchivosSubidos}} archivo/s <br><br>
            <input class="botonSubirAP5" type="button" (click)="subirArchivo()" value="SUBIR" >
        </p>
        <br>

        <!--BotonSubir-->
        <input class = "botonSeleccionarArchivoAP5" type="file" formControlName="archivo"
         (change)="cambioArchivo($event)" accept=".jpeg, .webp, .png, .jpg">

    </form>


    <!--botones-->
    <div class="botones">
        <!--Boton 1-->
        <button class = "boton1" (click)="volverAtras()">Atrás</button>

        <!--Boton 2-->
        <button class = "boton2" (click)="continuar()">Siguiente</button>
    </div>

</form>