
body.AP5{
    font-family: Times New Roman, Times, serif; 
    font-style: normal; font-weight: bold; 
    text-align: center;
    float: center; 
    padding-top: 80px; 
    padding-bottom: 170px;
    color: #000000; 
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.TituloAP5{
    width: 640px;
    height: 180px;

    margin: auto;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 28px;
    line-height: 39px;
    text-align: center;


    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
}

.Titulo2AP5{
    width: 640px;
    height: 47px;
    
    margin: auto;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;

    color: #000000;

}

.RecuadroImagenAP5{
    width: 500px;
    height: 381px;
    margin: auto;

    background: #FAF7F7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.TextoRecuadroAP5{
    width: 500px;
    height: 235px;

    margin: auto;
    margin-top: 40px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;

    color: #000000;
}

.botonSubirAP5{
    margin-top: -60px;
    width: 210px;
    height: 40px;

    background: linear-gradient(180deg, #E11E1E 0%, #9132BF 100%);
    border-radius: 20px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 26px;
    text-align: center;

    color: #000000;
}

.lineaAP5{
    width: 100%;
    height: 0px;
    margin-top:40px;

    border: 6px solid #D5C7C7;
    transform: rotate(0.08deg);
}

.boton1AP5{
    margin-top: 30px;
    margin-left: 30px;
    width: 153px;
    height: 35px;

    float: left;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 26px;
    line-height: 22px;

    color: #FFFFFF;
}

.boton2AP5{
    margin-top: 30px;
    margin-right: 30px;

    float: right;

    width: 153px;
    height: 35px;

    background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
    border-radius: 18px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500px;
    font-size: 26px;
    line-height: 22px;

    color: #FFFFFF;
}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
    
    body.AP5{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center;
        float: center; 
        padding-top: 40px; 
        padding-bottom: 170px;
        color: #000000; 
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
    
    .TituloAP5{
        width: 600px;
        height: 100px;
    
        margin: auto;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    .Titulo2AP5{
        width: 600px;
        height: 47px;
        
        margin: 0 auto;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 19px;
        line-height: 47px;
        /* identical to box height */
    
        text-align: center;
    
        color: #000000;
    
    }
    
    .RecuadroImagenAP5{
        width: 570px;
        height: 350px;
        margin: auto;
    
        background: #FAF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    .TextoRecuadroAP5{
        width: 300px;
        height: 235px;
    
        margin: auto;
        margin-top:40px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
    
        color: #000000;
    }
    
    .botonSubirAP5{
        margin-top: -100px;
        width: 110px;
        height: 40px;
    
        background: linear-gradient(180deg, #E11E1E 0%, #9132BF 100%);
        border-radius: 20px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 25px;
        line-height: 27px;
        text-align: center;
    
        color: #000000;
    }
    
    .lineaAP5{
        width: 100%;
        height: 0px;
        margin-top:40px;
    
        border: 6px solid #D5C7C7;
        transform: rotate(0.08deg);
    }
    
    .boton1AP5{
        margin-top: 20px;
        margin-left: 20px;
        width: 100px;
        height: 30px;
    
        float: left;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 22px;
        line-height: 22px;
    
        color: #FFFFFF;
    }
    
    .boton2AP5{
        margin-top: 20px;
        margin-left: 20px;
        width: 100px;
        height: 30px;
    
        float: right;

    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 22px;
        line-height: 22px;
    
        color: #FFFFFF;
    }
}


/* 640  pixels */
@media screen and (max-width: 40em) {
    
    body.AP5{
        font-family: Times New Roman, Times, serif; 
        font-style: normal; font-weight: bold; 
        text-align: center;
        float: center; 
        padding-top: 25px; 
        padding-bottom: 170px;
        color: #000000; 
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
    
    .TituloAP5{
        width: 290px;
        height: 200px;
    
        margin: auto;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;  
    }
    
    .Titulo2AP5{
        width: 260px;
        height: 47px;
        
        margin: 0 auto ;

        margin-top: -120px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 47px;
    
        text-align: center;
    
        color: #000000;
    
    }
    
    .RecuadroImagenAP5{
        width: 260px;
        height: 200px;
        margin: auto;
    
        background: #FAF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    .TextoRecuadroAP5{
        width: 300px;
        height: 135px;
    
        margin: auto;
        margin-left: -20px;
        margin-top: 10px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    
        color: #000000;
    }
    
    .botonSubirAP5{
        margin-top: -60px;
        width: 80px;
        height: 25px;

    
        background: linear-gradient(180deg, #E11E1E 0%, #9132BF 100%);
        border-radius: 20px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
    
        color: #000000;
    }
    
    .lineaAP5{
        width: 100%;
        height: 0px;
        margin-top:20px;
    
        border: 6px solid #D5C7C7;
        transform: rotate(0.08deg);
    }
    
    .boton1AP5{
        margin-top: 20px;
        margin-left: 20px;
        width: 70px;
        height: 25px;
    
        float: left;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 22px;
    
        color: #FFFFFF;
    }
    
    .boton2AP5{
        margin-top: 20px;
        margin-left: 20px;
        width: 70px;
        height: 25px;
    
        float: right;
    
        background: linear-gradient(180deg, #DB1F27 0%, #A32E9A 100%);
        border-radius: 18px;
    
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 22px;
    
        color: #FFFFFF;
    }
}