<form class = AP5 [formGroup]="archivoForm" (ngSubmit)="subirArchivo()"> 


    <!--Titulo-->
    <p class = TituloAP5> ¡ESTÁS EN LA RECTA FINAL! <br> NECESITAMOS QUE SUBAS ALGUNAS FOTOS DE TU ALOJAMIENTO </p>
    <p class = Titulo2AP5> AÑADE 6 FOTOS COMO MÍNIMO </p>

    <!--RecuadroImagen-->
    <div class = RecuadroImagenAP5> 

        <!--TextoRecuadro-->
        <p class = TextoRecuadroAP5>  <br> Haz click en el botón de subir </p>

        <!--BotonSubir-->
        <input class = "botonSubirAP5" type="file" value = "SUBIR" formControlName="archivo" (change)="cambioArchivo($event)">

    </div>


    <!--botones-->
    <div class="botones">
        <!--Boton 1-->
        <button class = "boton1" (click)="volverAtras()">Atrás</button>

        <!--Boton 2-->
        <button class = "boton2" (click)="continuar()">Siguiente</button>
    </div>

</form>