<body class = AP>

    <!--Primer Recuadro-->
    <section class = PrimerRecuadroAP>

        <article class = FondoPrimerRecuadroAP>

            <p class = PrimerRecuadroTextoAP>ANÍMATE A HOSPEDAR EN CANARY DREAMS</p>   
            <p class = PrimerRecuadroTexto2AP>ÚNETE A LA COMUNIDAD. TE AYUDAREMOS DURANTE EL PROCESO</p>
            <a href="./anfitrion/paso1"><button class = PrimerRecuadroBotonAP>¡ VAMOS ALLÁ !</button></a>

        </article>

        <img class = PrimeraImagenAP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt="">  

    </section>

    <!--Segundo Recuadro-->

    <section class = SegundoRecuadroFondoAP>
            
        <p class = SegundoRecuadroTituloAP>¿COMO CONVERTIRSE EN ANFITRIÓN?</p>
        <p class = SegundoRecuadroSegTituloAP>Se lo resumimos en 3 sencillos pasos</p>

        <!--Primer Punto-->
        <article class = SegundoRecuadroPunto1AP> 

            <div class = SegundoRecuadroPunto1TextoAP>

                <p class = SegundoRecuadroPunto1TitAP>1. Suba su propiedad</p>
                <p>Suba los datos que se requieren de su propiedad  a la plataforma.</p>

            </div>
                
            <img class = SegundoRecuadroImg1AP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt="">

        </article>    

        <!--Segundo Punto-->

        <article class = SegundoRecuadroPunto2AP>   

            <div class = SegundoRecuadroPunto2TextoAP>

                <p class = SegundoRecuadroPunto2TitAP>2. Reciba nuevos huéspedes</p>
                <p class = SegundoRecuadroPunto2TextAP>CanaryDreams consta de profesionales de marketing que trabajan 7 días a la semana para publicitar su propiedad</p>

            </div>

            <img class = SegundoRecuadroImg2AP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt="">

        </article> 

        <!--Tercer Punto-->

        <article class = SegundoRecuadroPunto3AP> 

            <div class = SegundoRecuadroPunto3TextoAP>

                <p class = SegundoRecuadroPunto3TitAP>3. Empieze a generar ingresos</p>
                <p class = SegundoRecuadroPunto3TextAP>A partir de este punto, toca la mejor parte del proceso, ¡Ganar Dinero!</p>

            </div>

            <img class = SegundoRecuadroImg3AP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt="">
            
        </article>


    </section>
        
    <!--Tercer Recuadro-->
    <section class = TercerRecuadroFondoAP>

            <p class = TercerRecuadroTituloAP>SEGURO QUE TIENES MUCHAS PREGUNTAS... </p>

            <article class = imagenTextoAP>

                <p class = TercerRecuadroTexto2AP>NO DUDES EN PONERTE EN CONTACTO CON NOSOTROS, ESTAREMOS ENCANTADOS DE AYUDARTE</p>

                <img class = TercerRecuadroImagenAP src = "https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" alt="">  

            </article>
                
            <a href="/ayuda/contactar"><button class = TercerRecuadroBotonAP>CONTACTAR</button></a>
    </section>
    
</body>
