<div class="container">


    <div class="titulo"> POR ÚLTIMO, INDÍQUENOS EL PRECIO POR NOCHE
        Y LAS FECHAS DE DISPONIBILIDAD</div>

    <div class="precio">
        <input type="text" class="campoPrecio" id="">
        <h3>por noche</h3>
    </div>

    <div class="calendario">

        <p class="titulo2">Fechas De Disponibilidad</p>
        <img class="imagen" src="/assets/calendar.png">

        <div class="desde">
            <h4>Desde</h4>
            <input type="date" class="fechas"> 
        </div>

        <div class="hasta">
            <h4>Hasta</h4>
            <input type="date" class="fechas">
        </div>
    </div>
  </div>